<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>App List</title>
    <!--Making the page feel more natural on mobile devices -->  
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!--Linking ratchet framework --> 
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet-theme-ios.min.css') }}">
    <!-- our css file -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <!-- ratchet framework javaScript -->
    <script src="{{ url_for('static',filename='js/ratchet.min.js') }}"></script>
    <!--jquery -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.1.1.min.js')}}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- javaScript -->
    <script>
      $(document).ready(function () {
           $(".downloads").show();
      
       });
      function setVars(category, name) {
       document.getElementById('getcategory').value = category;
       document.getElementById('getname').value = name;
       document.forms['send_form'].submit();
      }
    </script>
    <!-- CSS -->
    <style>
      body { font-size: 18px; }
      .stars-container {
      position: relative;
      display: inline-block;
      color: transparent;
      }
      .stars-container:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      color: lightgray;
      }
      .stars-container:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '★★★★★';
      color: gold;
      overflow: hidden;
      }
      .stars-{{ratings[0]}}:after { width: {{ratings[0]}}%; }
      .stars-{{ratings[1]}}:after { width: {{ratings[1]}}%; }
      .stars-{{ratings[2]}}:after { width: {{ratings[2]}}%; }
      .stars-{{ratings[3]}}:after { width: {{ratings[3]}}%; }
      .stars-{{ratings[4]}}:after { width: {{ratings[4]}}%; }
      .stars-{{ratings[5]}}:after { width: {{ratings[5]}}%; }
      .stars-{{ratings[6]}}:after { width: {{ratings[6]}}%; }
      .stars-{{ratings[7]}}:after { width: {{ratings[7]}}%; }
      .stars-{{ratings[8]}}:after { width: {{ratings[8]}}%; }
      .stars-{{ratings[9]}}:after { width: {{ratings[9]}}%; }
      p {
      font-size : 12px;
      background-color : transparents;
      padding : 0;
      margin : 0;
      line-height : 20px;
      }
      .absoluteRight{
      margin-left: 0px;
      position: relative;
      float: right;
      }
      .get-fix {
      padding-right: 42px !important;
      }
      .smallUnderText {
      font-size: 8px;
      color: gray;
      position: absolute; !important;
      right: 7.5em;
      top: 6.5em;
      }
      .smallUnderText2 {
      font-size: 8px;
      color: gray;
      position: absolute; !important;
      right: 6.5em;
      top: 7.6em;
      }
      .smallFont {
      font-size: 9px;
      color: gray;
      position: relative;
      top: -1em;
      }
      .segmented-control .control-item.active{
      color: #fff;
      background-color: #2587f2 !important;
      }
      .segmented-control {
      background-color: transparent;
      border: 1px solid #2587f2 !important;
      }
      .segmented-control .control-item {
      color: #2587f2;
      border-color: #929292;
      -webkit-transition: background-color .1s linear;
      -moz-transition: background-color .1s linear;
      transition: background-color .1s linear;
      }
      .bar .segmented-control {
      top: 7px;
      /* margin: 0 auto; */
      margin-left: 3em;
      margin-right: 3em;
      }
      .app_image_size {
      width: 60px;
      height: 60px;
      }
      body:-webkit-scrollbar { 
      /* This is the magic bit */
      display: none;
      overflow:hidden;
      }
    </style>
  </head>
  <!-- body -->
  <body>
    <header style="height: 78px" class="bar bar-nav">
      <a href="/"  data-transition="slide-out">
      <button class="btn btn-link btn-nav pull-left" onClick="location='/'">
      <span class="icon icon-left-nav"></span>
      Categories
      </button>
      </a>
      <a class="icon icon-list pull-right" href="#settingsModal"></a>
      <h1 class="title">{{category}}</h1>
      <hr style="height:15px; visibility:hidden;" />
      <nav class="title">
        <div class="segmented-control">
          <a class="control-item" href="#item1mobile"></a>
          <a class="control-item active" href="#item2mobile">Free</a>
          <a class="control-item" href="#item3mobile"></a>
        </div>
      </nav>
      <br>
    </header>
    <!-- Paid -->
    <form action="/apppage/" method="POST" id="send_form" >
      <div class="content">
        <hr style="height:3.3em; visibility:hidden;" />
        <!-- Free -->
        <ul id="item2mobile" class="table-view control-content active">
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[0]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">1</p>
              <img class="media-object pull-left app_image_size" src="{{images[0]}}">
              <div class="media-body">
                {{names[0]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[0]}})</p>
                <div class="ratings" style="display:none"><span style="top: -.3em; left: -.04em;" class="stars-container stars-{{ratings[0]}}">★★★★★</span><span class="smallFont">({{ratings_count[0]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[1]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">2</p>
              <img class="media-object pull-left app_image_size" src="{{images[1]}}">
              <div class="media-body">
                {{names[1]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[1]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container stars-{{ratings[1]}}">★★★★★</span><span class="smallFont">({{ratings_count[1]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[2]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">3</p>
              <img class="media-object pull-left app_image_size" src="{{images[2]}}">
              <div class="media-body">
                {{names[2]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[2]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container stars-{{ratings[2]}}">★★★★★</span><span class="smallFont">({{ratings_count[2]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[3]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">4</p>
              <img class="media-object pull-left app_image_size" src="{{images[3]}}">
              <div class="media-body">
                {{names[3]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[3]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container stars-{{ratings[3]}}">★★★★★</span><span class="smallFont">({{ratings_count[3]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[4]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">5</p>
              <img class="media-object pull-left app_image_size" src="{{images[4]}}">
              <div class="media-body">
                {{names[4]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[4]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container stars-{{ratings[4]}}">★★★★★</span><span class="smallFont">({{ratings_count[4]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[5]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">6</p>
              <img class="media-object pull-left app_image_size" src="{{images[5]}}">
              <div class="media-body">
                {{names[5]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[5]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container {{ratings[5]}}">★★★★★</span><span class="smallFont">({{ratings_count[5]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[6]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">7</p>
              <img class="media-object pull-left app_image_size" src="{{images[6]}}">
              <div class="media-body">
                {{names[6]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[6]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container {{ratings[6]}}">★★★★★</span><span class="smallFont">({{ratings_count[7]}})</span></div>
              </div>
            </a>
          </li>
            
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[7]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">7</p>
              <img class="media-object pull-left app_image_size" src="{{images[7]}}">
              <div class="media-body">
                {{names[7]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[7]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container {{ratings[7]}}">★★★★★</span><span class="smallFont">({{ratings_count[8]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[8]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">7</p>
              <img class="media-object pull-left app_image_size" src="{{images[8]}}">
              <div class="media-body">
                {{names[8]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[8]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container {{ratings[8]}}">★★★★★</span><span class="smallFont">({{ratings_count[8]}})</span></div>
              </div>
            </a>
          </li>
          <li class="table-view-cell get-fix media" onClick="setVars('{{category}}', '{{names[9]}}')">
            <a href="choose-theater.html" data-transition="slide-in">
              <img style="padding-top:1em; padding-bottom:1em;" class="absoluteRight" src="http://i.imgur.com/2mQnbJO.png" alt="Get">
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText">In-App</span>
              <span style="float: right; padding-top:1em; padding-bottom:1em;" class="smallUnderText2">Purchases</span>
              <p class="media-object pull-left">7</p>
              <img class="media-object pull-left app_image_size" src="{{images[9]}}">
              <div class="media-body">
                {{names[9]}}
                <p>{{category}}</p>
                <p class="downloads" style="display:none">Downloads ({{downloads[9]}})</p>
                <div class="ratings" style="display:none;"><span style="top: -.3em; left: -.04em;" class="stars-container {{ratings[9]}}">★★★★★</span><span class="smallFont">({{ratings_count[9]}})</span></div>
              </div>
            </a>
          </li>
          <input type="text" style="display:none" id="getversion" name="getversion" value="default">
          <input type="text" class="hidden_input" id="getcategory" name="getcategory" value="default">
          <input type="text" class="hidden_input" id="getname" name="getname" value="default">
          <br>
          <br>
          <br>
        </ul>
        <!--Top Grossing -->
      </div>
      <!-- Settings modal -->
      <div id="settingsModal" class="modal">
        <header class="bar bar-nav">
          <a style="color:gray; top:.5em; position:absolute;" class="pull-left">Edit</p>
          <a class="icon icon-close pull-right" href="#settingsModal"></a>
          <h1 class="title">Wish List</h1>
        </header>
        <div class="content">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h3 style="text-align: center; font-weight:normal;">
          Wish List</h5>
          <p style="text-align: center">You don't currently have anything in your Wish List.</p>
        </div>
      </div>
      <!-- /.modal -->
      <!-- /.modal -->
      <nav class="bar bar-tab">
        <a class="tab-item active" href="#">
        <span class="icon icon-star"></span>
        <span class="tab-label">Featured</span>
        </a>
        <a class="tab-item" href="#">
        <span class="icon icon-list"></span>
        <span class="tab-label">Top Charts</span>
        </a>
        <a class="tab-item" href="#">
        <span class="icon icon-info"></span>
        <span class="tab-label">Explore</span>
        </a>
        <a class="tab-item" href="#">
        <span class="icon icon-search"></span>
        <span class="tab-label">Search</span>
        </a>
        <a class="tab-item" href="#">
        <span class="icon icon-download"></span>
        <span class="tab-label">Updates</span>
        </a>
      </nav>
    </form>
  </body>
</html>