
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie finder</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet-theme-ios.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/ratchet.min.js') }}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <header class="bar bar-nav">
      <a href="/"  data-transition="slide-out">
<button class="btn btn-link btn-nav pull-left" onClick="location='/'">
  <span class="icon icon-left-nav"></span>
  Categories

</button>
  </a>

      <a class="icon icon-gear pull-right" href="#settingsModal"></a>
      <h1 class="title">Books</h1>

<br>
<br>

      <div class="segmented-control">
  <a class="control-item active" href="#item1mobile">
    Thing one
  </a>
  <a class="control-item" href="#item2mobile">
    Thing two
  </a>
  <a class="control-item" href="#item3mobile">
    Thing three
  </a>
</div>
<div class="card">
  <span id="item1mobile" class="control-content active">Item 1</span>
  <span id="item2mobile" class="control-content">
    <ul class="table-view">
    <li class="table-view-cell media">
      <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
        <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
        <div class="media-body">
          Argo
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </a>
    </li>
  </span>
  <span id="item3mobile" class="control-content">Item 3</span>
</div>
    </header>



    <div class="content">

<br>
<br>
<br>
      <ul class="table-view">
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              App 1
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              App 2
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              App 3
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              App 4
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              App 5
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              App 6
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
            <div class="media-body">
              App 7
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
            <div class="media-body">
              App 8
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
        <li class="table-view-cell media">
          <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
            <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
            <div class="media-body">
              App 9
              <p>Category/Rating/etc</p>
            </div>
          </a>
        </li>
      </ul>
    </div><!-- /.content -->

    <!-- Settings modal -->
    <div id="settingsModal" class="modal">
      <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="#settingsModal"></a>
        <h1 class="title">Settings</h1>
      </header>

      <div class="content">
        <form class="input-group">
          <input type="text" placeholder="Full name">
          <input type="email" placeholder="Email">
          <input type="text" placeholder="Username">
        </form>

        <h5 class="content-padded">App settings</h5>

        <ul class="table-view">
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-sound"></span>
            <div class="media-body">
              Enable sounds
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
          <li class="table-view-cell media">
            <span class="media-object pull-left icon icon-person"></span>
            <div class="media-body">
              Parental controls
            </div>
            <div class="toggle">
              <div class="toggle-handle"></div>
            </div>
          </li>
        </ul>
        <div class="content-padded">
          <button class="btn btn-positive btn-block">Save settings</button>
        </div>
      </div>
    </div><!-- /.modal -->
  </body>
</html>
