<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AppGen</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet-theme-ios.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/ratchet.min.js') }}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Progress Bar Animation -->
    <style>
    @keyframes width {
           0%, 100% {
           transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
      }
      0% {
           width: 10%;
      }
       100% {
          width: 20%;
      }
    }
    </style>

    <script>
    $(document).ready(function () {

    $('#test').val($('work'));

    if ({{num_apps}} > 0) {
        $("#edit").show();
    }
    if ({{num_apps}} == 10) {
        $("#permission").show();
    }

  });
    </script>


  </head>
  <body>

    <header class="bar bar-nav">
        <!-- <a href="/"  data-transition="slide-out">
  <button class="btn btn-link btn-nav pull-left" onClick="location='/'">
    <span class="icon icon-left-nav"></span>
    Back

  </button>
    </a> -->
  <h1 class="title">Categories</h1>

      <!-- Progress Bar -->
            <!-- <div class="containerlower">
              <div class="progress">
                <div class="progress-bar">
                </div>
              </div>
            </div> -->


    </header>





    <div class="content">


<form method="POST" action="/applist/">
<br>
<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right" href="applist.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Book icon">
      <div class="media-body" onClick="location='/applist/'">
        Books
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="applist.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
      <div class="media-body">
        Business
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
      <div class="media-body">
        Catalogs
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
      <div class="media-body">
        Education
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
      <div class="media-body">
        Entertainment
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
      <div class="media-body">
        Finance
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Argo's poster">
      <div class="media-body">
        Food and Drink
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Skyfall's poster">
      <div class="media-body">
        Games
        <p></p>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right" href="choose-theater.html" data-transition="slide-in">
      <img class="media-object pull-left" src="http://placehold.it/64x64" alt="Placeholder image for Wreck-it Ralph's poster">
      <div class="media-body">
        Health and Fitness
        <p></p>
      </div>
    </a>
  </li>
</ul>
</div><!-- /.content -->

<!-- Settings modal -->
<div id="settingsModal" class="modal">
<header class="bar bar-nav">
  <a class="icon icon-close pull-right" href="#settingsModal"></a>
  <h1 class="title">Settings</h1>
</header>

<div class="content">
  <form class="input-group">
    <input type="text" placeholder="Full name">
    <input type="email" placeholder="Email">
    <input type="text" placeholder="Username">
  </form>

  <h5 class="content-padded">App settings</h5>

  <ul class="table-view">
    <li class="table-view-cell media">
      <span class="media-object pull-left icon icon-sound"></span>
      <div class="media-body">
        Enable sounds
      </div>
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
    <li class="table-view-cell media">
      <span class="media-object pull-left icon icon-person"></span>
      <div class="media-body">
        Parental controls
      </div>
      <div class="toggle">
        <div class="toggle-handle"></div>
      </div>
    </li>
  </ul>
  <div class="content-padded">
    <button class="btn btn-positive btn-block">Save settings</button>
  </div>
</div>
</div><!-- /.modal -->


</form>


  </body>
</html>
